html, body {

	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	
	// canvas {
	// 	position: absolute;
	// }

	.container {
		
		width: 100%;
		height: 100%;
		position: relative;
		background-color: #ff0f0f;

		.scene {
			
			height: 100%;
			width: 100%;
			position: absolute;
		
		}
		#a {

			height: 100%;
			width: 100%;
			top: 0px;
			width: 100%;
			height: 100vh;
			background-image: url(/images/titleBackground.jpg);
			background-size: cover;
			background-position: center;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			.images {

				aspect-ratio: auto;
			
			}

		    #image1 {
			    
				
			//     position: relative;
			//     left: 400px;
			//     top: -500px;
			//    // display: flex;
			    height: auto;
			    width: auto;

		    }
		}   
	  	#b {
			width: auto;
			height: auto;
		    position: fixed;
			top: 0px;
	   }
	}
}

