html, body {

	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #ff0f;
	// canvas {
	// 	position: absolute;
	// }

	.container {
		
		width: 100%;
		height: 100%;
		position: relative;
		background-color: #ff0f0f;

		.scene {
			
			height: 100%;
			width: 100%;
			position: absolute;
		
		}
		#a {

			height: 100%;
			width: 100%;
			
			.images {

				aspect-ratio: auto;
			
			}
			#image1 {
				
				width: 100%;
				height: 100vh;
				background-image: url(/images/titleBackground.jpg);
				background-size: cover;
				background-position: center;

			}

		    #image2 {
			    
				background-image: url(/images/billiardlogo.png);
			//     position: relative;
			//     left: 400px;
			//     top: -500px;
			//    // display: flex;
			    height: 100%;
			    width: 100%;

		    }
		}   
	  	#b {

		    position: fixed;

	   }
	}
}

